

*{
    margin: 0;
    padding: 0;
}

#chiffres_cle{
    margin-top: 15px !important;
}
.content2-3{
    background-color: #216a94;
    height: 150px;
}
h4{
    color: black;
    text-align: center;
}
.text-center{
    color: #FFFFFF;
}
.text-center2{
    color:#2a88bd;
    background-color:rgba(194,229,156,0.15);
    padding:21px;
    text-align: center;
    margin-top:38px;
}
.text-left{
    color: white;
}
.about-us{
    color: white;
}
/* HEADER */
#nav-right{
    float:right;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #7079c6 !important;
}
.nav-pills>li.active>a{
    color: #7178c6 !important;
    font-weight: bold;
    background-color: #fff;
}
.nav-pills>li.active>a:hover{
    background-color: #fff;
}
.navbar-nav>li>a {
    padding-top: 20px;
}
.navbar-toggle {
    border: 2px solid #7178c6;
}
.icon-bar {
    color: #7178c6;
    border-color: #7178c6;
    background-color: #7178c6;
}
#nav-right button{
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid;
    padding: 5px 9px;
}
#nav-right{
    margin-right: 15px;
}
#navtop{
    font-size: 10px !important;
}
.fa {
    padding-right: 10px;
    font-size: 14px;
    color: #9a9a9a !important;
}
#logo a img{
    margin-top: -25px;
    margin-bottom: 30px;
}
#main-navigation{
    font-size: 12px !important;
    font-weight: bold;
}
#main-navigation .nav>li>a{
    padding-left:0;
    padding-right:0;
}
#main-navigation .container{
    max-width: 720px;
}

.image_accueil{
    width: 100%;
    height: 100%;
}
.slogan{
    position: absolute;
    text-align: center;
}

header {
    background-image:url('https://images.unsplash.com/photo-1461280360983-bd93eaa5051b?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    height:1000px;
}

.btn.btn-default.btn-lg {
    letter-spacing:2px;
}

.btn-default {
    background-image:none;
    background-image:none;
    background-image:none;
    background-image:none;
    background-repeat:no-repeat;
    filter:none;
    -webkit-filter:none;
    filter:none;
    border:1px solid #fefefe;
    background-color:rgba(194,229,156,0.15);
    color:#fefefe;
}

.navbar-default {
    border-bottom:#fefefe;
}

.btn-default:hover {
    opacity:.4;
    background-color:rgba(194,229,156,0.15);
    color:#fefefe;
    border:1px solid #fefefe;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:#fafafa;
    background-color:none;
}

.navbar-brand.navbar-link {
    color:#fefefe;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#000;
    background-color:#fafafa;
}
.hero-widget {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-widget .icon {
    display: block;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 10px;
    text-align: center;
}
.hero-widget var {
    display: block;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
    font-style: normal;
}
.hero-widget label {
    font-size: 17px;
}
.hero-widget .options {
    margin-top: 10px;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.about-us {
    background-color: #121212;
    padding-bottom: 0;
    padding-top: 0;
}
.heading-primary {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.accordion dl,
.accordion-list {
    border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #2ab27b;
}

.accordion dd,
.accordion__panel {
    background-color: #1b6d85;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #10a587;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #216a94;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #216a94;
}
.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #216a94;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #2ba659;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}
@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

/* MEDIA QUERIES FOR TOP NAV*/
@media screen and (max-width:768px){
    #nav-left{
        text-align: center;
    }
    #nav-left:after{
        display: block;
        content: "";
        clear: both;
    }
    #nav-left li{
        float:left;
        width: 31%;
        padding:1%;
    }
    #nav-right{
        display: block;
        content: "";
        clear: both;
    }
    #nav-right{
        text-align: center;
        width:100%;
    }
    #nav-right li {
        float: left;
        width:23%;
        padding: 1%;
    }
    #logo a img {
        margin-top: 0;
        margin-bottom: 0;
    }
    #main-navigation ul li{
        border-top: 1px solid #7178c6;
        width: 100%;
    }
}
